/*
## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font: 15px 'Overpass', sans-serif;
    color: hsl(217, 12%, 63%);
}

.card{
    margin: auto;
    background-color: hsl(213, 19%, 18%, 0.9);
    height: 360px;
    width: 320px;
    border-radius: 20px;
    padding: 15px;
}

.hide{
    visibility: hidden;
    display: none;
}

.starimage{
    background-color: hsla(216, 12%, 54%, 0.09);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 10px;
}

h1{
    font-size: 1.6em;
    font-weight: 400;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.text{
    font-size: 14px;
    padding: 5px;
    line-height: 1.5em;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 15px;
}

.rating-btn{
    font-weight: 700;
    background-color: hsla(216, 12%, 54%, 0.09);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-btn:hover{
    background-color: hsla(216, 12%, 54%);
    color: white;
    
}

.rating-btn:active{
    background-color: hsla(25, 97%, 53%);
    color: white;
}

.ativo{
    background-color: hsla(216, 12%, 54%);
    color: white; 
}

.submit-btn{
    color: white;
    font-weight: 400;
    background-color: hsla(25, 97%, 53%);
    padding: 12px;
    border-radius:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.submit-btn:hover{
    background-color: white;
    color: hsla(25, 97%, 53%);
}

.card-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card-content-2 .text {
    text-align: center;
}

.result{
    background-color: hsla(216, 12%, 54%, 0.09);
    color: hsl(25, 97%, 53%);
    padding: 10px;
    border-radius: 2em;
    margin-top: 15px;
}

.attribution { 
    font-size: 15px; 
    text-align: center;
    margin-top: 10px; 
    
}

.attribution a:hover{
    color: white;
}

.attribution a { 
    color: hsla(25, 97%, 53%);
    text-decoration: none; 
}